In [1]:
#import csv files
import os
import pandas as pd
import csv
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.orm import sessionmaker
from sqlalchemy.sql import *
from pandas.io.sql import SQLTable, SQLDatabase
from pprint import pprint
from datetime import datetime



cln_HImeasCSVpath = os.path.join("Resources", "clean_hawaii_measurements.csv")
cln_HIstationCSVpath= os.path.join("Resources", "clean_hawaii_stations.csv")

measurementsDF = pd.read_csv(cln_HImeasCSVpath)
stationsDF = pd.read_csv(cln_HIstationCSVpath)

measurementsDF.drop('Unnamed: 0', axis=1, inplace=True)
stationsDF.drop('Unnamed: 0', axis=1, inplace=True)

measurementsDF.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [2]:
stationsDF.head(10)

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [3]:
measurementsDF.head(25)

        station        date  prcp  tobs
0   USC00519397  2010-01-01  0.08    65
1   USC00519397  2010-01-02  0.00    63
2   USC00519397  2010-01-03  0.00    74
3   USC00519397  2010-01-04  0.00    76
4   USC00519397  2010-01-07  0.06    70
5   USC00519397  2010-01-08  0.00    64
6   USC00519397  2010-01-09  0.00    68
7   USC00519397  2010-01-10  0.00    73
8   USC00519397  2010-01-11  0.01    64
9   USC00519397  2010-01-12  0.00    61
10  USC00519397  2010-01-14  0.00    66
11  USC00519397  2010-01-15  0.00    65
12  USC00519397  2010-01-16  0.00    68
13  USC00519397  2010-01-17  0.00    64
14  USC00519397  2010-01-18  0.00    72
15  USC00519397  2010-01-19  0.00    66
16  USC00519397  2010-01-20  0.00    66
17  USC00519397  2010-01-21  0.00    69
18  USC00519397  2010-01-22  0.00    67
19  USC00519397  2010-01-23  0.00    67
20  USC00519397  2010-01-24  0.01    71
21  USC00519397  2010-01-25  0.00    67
22  USC00519397  2010-01-26  0.04    76
23  USC00519397  2010-01-27  0.12    68
24  USC00519397  2010-01-28  0.00    72

In [4]:
print(f'measurementsDF shape: {measurementsDF.shape}')
print(f'stationsDF shape: {stationsDF.shape}')

measurementsDF shape: (18103, 4)
stationsDF shape: (9, 5)

In [5]:
# Use 3 slashes when connecting to sqlite database
path_to_file = os.path.join("Resources", "hawaii.sqlite")
engine = create_engine(f'sqlite:///{path_to_file}')

In [6]:
Base = declarative_base()

class Measurement(Base):
    __tablename__ = 'measurements'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(Float(2,2))
    tobs = Column(Integer)
    
class Station(Base):
    __tablename__ = 'stations'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float(2,4))
    longitude = Column(Float(3,4))
    elevation = Column(Float(3,1))


Measurement.__table__.create(bind=engine, checkfirst=True)
Station.__table__.create(bind=engine, checkfirst=True)

In [7]:
measurements, stations = [], []



for index, row in measurementsDF.iterrows():
#     print(row)
    row1 = {}
    row1['id'] = index
    row1['station'] = row['station']
    row1['prcp'] = row['prcp']
#     row1['date'] = datetime.strptime(row['date'], "%Y-%m-%d")
    row1['date'] = row['date']
    row1['tobs'] = row['tobs']
    
    measurements.append(row1)

for index, row in stationsDF.iterrows():
#     print(row)
    row1 = {}
    row1['id'] = index
    row1['station'] = row['station']
    row1['name'] = row['name']
    row1['latitude'] = row['latitude']
    row1['longitude'] = row['longitude']
    row1['elevation'] = row['elevation']
    
    stations.append(row1)    
    
    

pprint(stations)

[{'elevation': 3.0,
  'id': 0,
  'latitude': 21.2716,
  'longitude': -157.8168,
  'name': 'WAIKIKI 717.2, HI US',
  'station': 'USC00519397'},
 {'elevation': 14.6,
  'id': 1,
  'latitude': 21.4234,
  'longitude': -157.8015,
  'name': 'KANEOHE 838.1, HI US',
  'station': 'USC00513117'},
 {'elevation': 7.0,
  'id': 2,
  'latitude': 21.5213,
  'longitude': -157.8374,
  'name': 'KUALOA RANCH HEADQUARTERS 886.9, HI US',
  'station': 'USC00514830'},
 {'elevation': 11.9,
  'id': 3,
  'latitude': 21.3934,
  'longitude': -157.9751,
  'name': 'PEARL CITY, HI US',
  'station': 'USC00517948'},
 {'elevation': 306.6,
  'id': 4,
  'latitude': 21.4992,
  'longitude': -158.0111,
  'name': 'UPPER WAHIAWA 874.3, HI US',
  'station': 'USC00518838'},
 {'elevation': 19.5,
  'id': 5,
  'latitude': 21.33556,
  'longitude': -157.71139,
  'name': 'WAIMANALO EXPERIMENTAL FARM, HI US',
  'station': 'USC00519523'},
 {'elevation': 32.9,
  'id': 6,
  'latitude': 21.45167,
  'longitude': -157.84888999999995,
  'name': 'WAIHEE 837.5, HI US',
  'station': 'USC00519281'},
 {'elevation': 0.9,
  'id': 7,
  'latitude': 21.3152,
  'longitude': -157.9992,
  'name': 'HONOLULU OBSERVATORY 702.2, HI US',
  'station': 'USC00511918'},
 {'elevation': 152.4,
  'id': 8,
  'latitude': 21.3331,
  'longitude': -157.8025,
  'name': 'MANOA LYON ARBO 785.2, HI US',
  'station': 'USC00516128'}]

In [8]:
Session = sessionmaker(bind=engine)
session = Session()

for measurement in measurements:
    row = Measurement(**measurement)
    session.add(row)

for station in stations:
    row = Station(**station)
    session.add(row)

session.commit()